/* our css*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.landingpageContainer img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    object-position: center;
}

.landingpageContainer {
    position: relative;
}

.landingpageLogo {
    position: absolute;
    top: 33vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingpageContainerLogo {
    display: flex;
    justify-content: center;
}

.landingpageContainerLogo img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
}

.landingpageContainerAbout {
    margin: 1.5em;
    padding: 1em;
    background-color: #c4c4c4;
    color: white;
    border-radius: 1em;
    height: 100vh;
}

.landingpageContainerGlobe {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.landingpageGlobe img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
}

.landingpageContainerButton,
.landingpageContainerButtonLogin {
    margin: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.landingpageContainerButtonLogin button {
    width: 150px;
}

@media (min-width: 360px) {
}

@media (min-width: 992px) {
}
