html {
    box-sizing: border-box;
    --bgColorMenu: #c4c4c4;
    --duration: 0.7s;
    --bgColorItem: #942928;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
  }

.App {
    width: 100vw;
    background-color: #c4c4c4;
}
.menu {
    position: sticky;
    bottom: 0;
    display: flex;
    /* width: 32.05em; */
    width:100vw;
    /* font-size: clamp(.4em, 1em, 1.5em); */
    padding: 0 2em;
    /* font-size: 1.5em; */
    /* font-size: clamp(0.4em, 1vw, 1.5em); */
    position: relative;
    justify-content: center;
    background-color: var(--bgColorMenu);
    margin: 0 auto;
}

.menu__item {
    all: unset;
    /* flex-grow: 1; */
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.45em;
   margin:  .5em 0
  }
  


.menu__item::before {
    content: "";
    z-index: -1;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
  }
  
.menu__item.active {
    transform: translate3d(0, -0.8em, 0);
}

.menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
  }
  
  .navIcon{
  align-items: center;
  font-size: 1.5em;
  }

.menu__item.active .icon {
    animation: strok 1.5s reverse;
}

@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}

.menu__border {
    left: 0;
    bottom: 99%;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
}

.svg-container {
    width: 0;
    height: 0;
  }

 .navIcon:hover {
    color: #942928;
   }

  @media screen and (min-width: 540px) {
    .menu__item::before{
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
}

 @media screen and (min-width: 820px) {
  .menu__item{
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .menu__item::before{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .navIcon {
    font-size: 35px;
   }
  } 

  @media screen and (min-width: 1280px) {
    /* .menu__item{
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }
    .menu__item::before{
      width: 105px;
      height: 105px;
      border-radius: 50%;
    } */
    .navIcon {
      font-size: 35px;
     }
    } 

